<ul class="background-animation">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<ul class="background-animation2">
  <li></li>
</ul>

<div class="content-center">
  <div class="container" >
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6 text-left">
        <h1 class="title">Project Management</h1>
        <h5>No project too big and no project too small. Never lose track of what you're working on, carefully manage deadlines, and maximize productivity.</h5>
        <br />
        <div class="buttons">
          <a href="/users/sign_up" class="btn btn-danger btn-round  btn-lg">
            Get Started
          </a>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>


  <div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <div class="card">
        <div class="card-body">
      <h2 class="title">Project Management Made Easy</h2>
      <h5 class="description">Organize and track your progress on all your projects. Keep focused on the task at hand, and never miss a deadline.</h5>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="info">
        <div class="card">
          <div class="card-body">
        <div class="icon icon-danger">
          <%= image_tag 'document-richtext.svg', width: '60px' %>
        </div>
        <div class="description">
          <h4 class="info-title">Add Projects</h4>
          <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
          <a href="#pkp" class="btn btn-link btn-danger">See more</a>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info">
        <div class="card">
          <div class="card-body">
        <div class="icon icon-danger">
          <%= image_tag 'graph-up.svg', width: '60px' %>
        </div>
        <div class="description">
          <h4 class="info-title">Track Progress</h4>
          <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
          <a href="#pkp" class="btn btn-link btn-danger">See more</a>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info">
        <div class="card">
          <div class="card-body">
        <div class="icon icon-danger">
          <%= image_tag 'list-check.svg', width: '60px' %>
        </div>
        <div class="description">
          <h4 class="info-title">Stay Focused</h4>
          <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
          <a href="#pkp" class="btn btn-link btn-danger">See more</a>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info">
        <div class="card">
          <div class="card-body">
        <div class="icon icon-danger">
          <%= image_tag 'clock.svg', width: '60px' %>
        </div>
        <div class="description">
          <h4 class="info-title">Make Deadlines</h4>
          <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
          <a href="#pkp" class="btn btn-link btn-danger">See more</a>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="row text-center">
    <div class="col-md-12">
      <a href="/users/sign_up" class="btn btn-danger btn-round  btn-lg">
        Get Started
      </a>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>
